@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800|Inconsolata:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
    padding-top: 50px;
    font-family: "Inconsolata", sans-serif;
    font-weight: 300;
    font-size: 2em;
    position: relative;
  background-color: #0a489d;

}

#name{
  font-family: "Ubuntu", sans-serif;
  font-size:  4em;
  color: aliceblue;
}

#eslogan
{ color: aliceblue;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
}

header .navbar-brand {
    background: url(../../img/logo.jpg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
    height: auto;

}

header .navbar-brand h1 {
    color: #3529cc;
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
    padding-left: 60px;
}

header .navbar-brand span.subhead {
    display: block;
    font-family: "Inconsolata", sans-serif;
    font-size: .6em;
    font-weight: 300;

}

footer .navbar-default {
    background: transparent;
    border: 0;
}

img {
    max-width: 200px;
}

.page {
    padding: 50px 0;
}

.page h2 {
    text-align: center;
    margin-bottom: 35px;
}
